<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <title>Criptomonedas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h4>Comercio de Criptomonedas</h4>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="{{ url_for('index') }}">Inicio</a>
                    </li>
                    <li>
                        <a href="{{ url_for('trade') }}">Comercio</a>
                    </li>
                    <li>
                        <a href="{{ url_for('report') }}">Reportes</a>
                    <li>
                        <a href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="{{ url_for('registro') }}">Registro</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="{{ url_for('cerrar_sesion') }}" class="download">Cerrar Sesión</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Alternar Barra Lateral</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <!-- <li class="nav-item active">
                                    <a class="nav-link" href="{{ url_for('cerrar_sesion') }}">Cerrar Sesión</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </nav>

                <div>
                    {% block main %}{% endblock %}
                </div>

            </div>
        </div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>