{% extends "base.html" %}

{% block main %}

<div>
    <h2>Orders</h2>
    {% for order in orders %}
    <p>{{order}}</p>
    {% endfor %}

    <h2>Balance</h2>
    <p>{{balance}}</p>

    <h2>Trades</h2>
    <p>{{trades}}</p>

    <h2>Deposits</h2>
    <p>{{deposits}}</p>

    <h2>Info</h2>
    <p>{{info}}</p>

    <h2>Trades History</h2>
    {% for trade in trades_history %}
    <p>{{trade}}</p>
    {% endfor %}

    <h2>Account Info</h2>
    <p>{{account_info}}</p>

    <h2>Futures</h2>
    <p>{{futures}}</p>

    <h2>Gmail Order</h2>
    <p>{{gmail_order}}</p>
</div>

{% endblock %}