{% extends "base.html" %}

{% block main %}

<!-- Poner bonito -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<h1 class="h3 mb-3 fw-normal">Editar Usuario</h1>
<form action="/editar_user/{{usuario.id}}" method="POST">
    <div class="container-lg">
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="text" name="nickname" class="form-control" id="nickname" value="{{usuario.Nickname}}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" value="{{usuario.email}}" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="api" class="form-label">API - Binance</label>
            <input type="text" name="api" class="form-control" id="api" value="{{usuario.api}}">
        </div>
        <div class="mb-3">
            <label for="api_secret" class="form-label">Secret API - Binance</label>
            <input type="text" name="api_secret" class="form-control" id="api_secret" value="{{usuario.api_secret}}">
        </div>
        <button type="submit" class="btn btn-primary" id="submit" disabled>Submit</button>
    </div>
</form>

{% endblock %}