{% extends "base.html" %}

{% block main %}

{% for message in get_flashed_messages() %}
    {% if 'Ha iniciado sesión con exito' in message %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endif %}
    {% if 'Ha ocurrido un error en el inicio de sesión, verifique nickname y contraseña' in message %}
        <div class="alert alert-danger">
            {{message}}
        </div>
    {% endif %}
    {% if 'Se ha registrado con exito' in message %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endif %}
    
{% endfor %}

<h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>
<form action="{{ url_for('iniciar_sesion') }}" method="post">
  <div class="container-lg">
    <div class="mb-3">
      <label for="nickname" class="form-label">Nickname</label>
      <input type="text" name="nickname" class="form-control" id="nickname" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" name="password1" class="form-control" id="password1" required>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Iniciar Sesión</button>
  </div>
</form>
<br>
<p style="padding:5px;">¿Desea registrarse?
  <a href="{{ url_for('registro') }}" class="btn btn-dark ">Registrar</a></p>

{% endblock %}