{% extends "base.html" %}

{% block main %}
<form>
    <center>
        <label for="title">Registro de usuario</label>
    </center>
    <div class="container-lg">
        <div class="mb-3">
            <label for="nickaname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" aria-describedby="emailHelp" placeholder="Example: Manuela183">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Please, confirm your password</label>
            <input type="password" class="form-control" id="password2">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Example: Manuela@gmail.com">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}