{% extends "base.html" %}

{% block main %}

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Símbolo</th>
            <th scope="col">Precio</th>
            <th scope="col">Tipo</th>
            <th scope="col">Lado</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@o</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

{% endblock %}