{% extends "base.html" %}

{% block main %}

<!-- Poner bonito -->
{% for message in get_flashed_messages() %}
{% if 'Error en credenciales de la api' in message %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
{% if 'Debe iniciar sesión para poder generar reportes' in message %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
{% if 'Debe ser administrador para poder generar este reporte' in message %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
{% endfor %}

<!-- Visualizar reportes -->
<form action="{{ url_for('report') }}" method="post">
  <div class="form-group row">
    <label for="inputState" class="col-sm- col-form-label">Seleccione reporte a generar</label>
    <div class="col-sm-10">
      <select id="inputState" class="form-control" name="report_type">
        <option value="Order" selected>Historial de Ordenes</option>
        <option value="Info">Información sobre moneda</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputState" class="col-sm- col-form-label">Seleccione sobre que moneda desea el reporte</label>
    <div class="col-sm-10">
      <select id="inputState" class="form-control" name="symbol">
        <option value="BTCUSDT" selected>BTC</option>
        <option value="ETHUSDT">ETH</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <br>
      <button type="submit" class="btn btn-primary" id="consultar" name="consultar">Consultar</button>
    </div>
  </div>
</form>


<!-- Generar reportes -->
<form action="{{ url_for('report') }}" method="post">
  <div class="form-group row">
    <label for="inputState" class="col-sm- col-form-label">Seleccione reporte a generar</label>
    <div class="col-sm-10">
      <select id="inputState" class="form-control" name="report_type">
        <option value="users" selected>Usuarios</option>
        <option value="trades">Ordenes creadas (todos los usuarios)</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <br>
      <button type="submit" class="btn btn-primary" id="generar" name="generar">Generar Reporte</button>
    </div>
  </div>
</form>
{% endblock %}