{% extends "base.html" %}

{% block main %}

{% for message in get_flashed_messages() %}
{% if 'La orden ha sido registrada con exito' in message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
{% if 'Ha ocurrido un error en la orden' in message %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
{% if 'Error en credenciales de la api' in message %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
{% endfor %}

<!-- TradingView Widget BEGIN -->
<div id="content">
    <div class="tradingview-widget-container">
        <div id="tradingview_910b2"></div>
        <div class="tradingview-widget-copyright"><a
                href="https://es.tradingview.com/symbols/BTCUSDT/?exchange=CURRENCYCOM" rel="noopener"
                target="_blank"><span class="blue-text">BTCUSDT Gráfico</span></a> por TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
            new TradingView.widget(
                {
                    "width": 1000,
                    "height": 530,
                    "symbol": "CURRENCYCOM:BTCUSDT",
                    "interval": "240",
                    "timezone": "America/Bogota",
                    "theme": "dark",
                    "style": "1",
                    "locale": "es",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": false,
                    "allow_symbol_change": true,
                    "watchlist": [
                        "CURRENCYCOM:BTCUSDT",
                        "CURRENCYCOM:ETHUSD"
                    ],
                    "details": true,
                    "studies": [
                        "TripleEMA@tv-basicstudies"
                    ],
                    "container_id": "tradingview_910b2"
                }
            );
        </script>
    </div>
    <!-- TradingView Widget END -->
    <br>
    <h2>Comerciar Criptomonedas</h2>
    <br>
    <form action="{{ url_for('trade') }}" method="post">

        <div class="container-lg">
            <div class="mb-3">
                <label for="inputState" class="form-label">Tipo</label>
                <select id="inputState" class="form-control" name="side">
                    <option value="BUY" selected>Comprar</option>
                    <option value="SELL">Vender</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="inputState" class="form-label">Moneda</label>
                <select id="inputState" class="form-control" name="symbol">
                    <option value="BTCUSDT" selected>BTC</option>
                    <option value="ETHUSDT">ETH</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="entry_price" class="form-label">Precio de entrada:</label><br>
                <input type="number" class="form-control" id="entry_price" name="entry_price"><br>
            </div>

            <div class="mb-3">
                <label for="ammount" class="form-label">Valor (USD):</label><br>
                <input type="number" class="form-control" id="ammount" name="ammount"><br>
            </div>

            <div class="mb-3">
                <label for="tp" class="form-label">Tomar ganancias (Entre 2 y 5 %):</label><br>
                <input type="range" class="form-range" id="tp" name="tp" min="2" max="5"><br>
            </div>

            <div class="mb-3">
                <label for="sl" class="form-label">Detener pérdidas (Entre 2 y 5 %):</label><br>
                <input type="range" class="form-range" id="sl" name="sl" min="2" max="5"><br>
            </div>

            <button type="submit" class="btn btn-primary">Enviar Orden</button>
        </div>
    </form>
    <br>
    <h2>Cancelar ordenes enviadas</h2>
    <br>
    <form action="{{ url_for('cancelar_ordenes') }}" method="post">
        <button type="submit" class="btn btn-primary">Cancelar Ordenes</button>
    </form>
</div>



{% endblock %}