{% extends "base.html" %}

{% block main %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_910b2"></div>
    <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com/symbols/BTCUSDT/?exchange=CURRENCYCOM"
            rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Gráfico</span></a> por TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 1500,
                "height": 530,
                "symbol": "CURRENCYCOM:BTCUSDT",
                "interval": "240",
                "timezone": "America/Bogota",
                "theme": "dark",
                "style": "1",
                "locale": "es",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "watchlist": [
                    "CURRENCYCOM:BTCUSDT",
                    "CURRENCYCOM:ETHUSD"
                ],
                "details": true,
                "studies": [
                    "TripleEMA@tv-basicstudies"
                ],
                "container_id": "tradingview_910b2"
            }
        );
    </script>
</div>

<div>
    <form action="{{ url_for('trade_long') }}" method="post">
        <label for="inputState" class="col-sm- col-form-label">Moneda</label>
        <select id="inputState" class="form-control" name="symbol">
            <option value="BTCUSDT" selected>BTC</option>
            <option value="ETHUSDT">ETH</option>
        </select>

        <label for="entry_price">Precio de Entrada:</label><br>
        <input type="number" id="entry_price" name="entry_price"><br>

        <label for="ammount">Valor (USD):</label><br>
        <input type="number" id="ammount" name="ammount"><br>

        <label for="tp">Tomar ganancias:</label><br>
        <input type="number" id="tp" name="tp"><br><br>

        <label for="sl">Detener pérdidas:</label><br>
        <input type="number" id="sl" name="sl"><br><br>

        <input type="submit" value="Enviar Orden">
    </form>
</div>
<!-- TradingView Widget END -->

{% endblock %}